In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define the known population data for each city
populations = {
    "New York": {
        1970: 7894862, 1980: 7071639, 1990: 7322564, 2000: 8008278, 2010: 8175133, 2020: 8336817
    },
    "Los Angeles": {
        1970: 2816061, 1980: 2966850, 1990: 3485398, 2000: 3694820, 2010: 3792621, 2020: 3980404
    },
    "Seattle": {
        1970: 530831, 1980: 493846, 1990: 516259, 2000: 563374, 2010: 608660, 2020: 737015
    },
    "Houston": {
        1970: 1232802, 1980: 1595138, 1990: 1630553, 2000: 1953631, 2010: 2099451, 2020: 2320268
    },
    "Phoenix": {
        1970: 581562, 1980: 789704, 1990: 983403, 2000: 1321045, 2010: 1445632, 2020: 1680992
    },
    "Philadelphia": {
        1970: 1948609, 1980: 1688210, 1990: 1585577, 2000: 1517550, 2010: 1526006, 2020: 1603797
    },
    "San Antonio": {
        1970: 654153, 1980: 786023, 1990: 935933, 2000: 1144646, 2010: 1327407, 2020: 1547253
    },
    "San Diego": {
        1970: 696769, 1980: 875538, 1990: 1110549, 2000: 1223400, 2010: 1307402, 2020: 1415000
    },
    "Dallas": {
        1970: 844401, 1980: 904078, 1990: 1000335, 2000: 1188580, 2010: 1197816, 2020: 1343573
    },
    "Jacksonville": {
        1970: 528865, 1980: 540920, 1990: 635230, 2000: 735617, 2010: 821784, 2020: 949611
    }
}

In [3]:
# Define the range of years
years = np.arange(1970, 2024)

In [4]:
# Initialize the empty DataFrame
all_data = pd.DataFrame()

In [5]:
# Loop through each city and process the data
for city, data in populations.items():
    df = pd.DataFrame(list(data.items()), columns=['Year', 'Population'])
    df = df.set_index('Year').reindex(years).interpolate(method='linear')
    df['City'] = city
    all_data = pd.concat([all_data, df.reset_index()], ignore_index=True)

In [6]:
# Reformat DataFrame
all_data = all_data[['Year', 'City', 'Population']]

In [7]:
all_data

     Year          City  Population
0    1970      New York   7894862.0
1    1971      New York   7812539.7
2    1972      New York   7730217.4
3    1973      New York   7647895.1
4    1974      New York   7565572.8
..    ...           ...         ...
535  2019  Jacksonville    936828.3
536  2020  Jacksonville    949611.0
537  2021  Jacksonville    949611.0
538  2022  Jacksonville    949611.0
539  2023  Jacksonville    949611.0

[540 rows x 3 columns]

In [8]:
# Save DataFrame to CSV file
# all_data.to_csv('/Users/rileychisholm/Downloads/population_data.csv', index=False)